<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Receivers>
    <!--Receiver
      TypeName="KSoft.COMReceiver"
      SourceName="Ritm"
      Pult="СаратовРитм"
      PortName="COM10"
      BaudRate="9600"
      DataBits="8"
      DtrEnable="true"
      RtsEnable="false"
    >
      <MessageReader
        AssemblyName="RitmReader.dll"
        TypeName="KSoft.AddOn.RitmReader"
        />
    </Receiver-->
    <!--Receiver
      TypeName="KSoft.COMReceiver"
      SourceName="Sentinel"
      Pult="СаратовСентинел"
      PortName="COM10"
      BaudRate="9600"
      DataBits="8"
      DtrEnable="true"
      RtsEnable="false"
    >
      <MessageReader
        Assembly="Sentinel.dll"
        Type="KSoft.AddOn.SentinelReader"
        />
    </Receiver-->
    <Receiver
      TypeName="KSoft.NetReceiver"
      SourceName="RitmTCP"
      Pult="СаратовРитм"
      Port="3058"
      ProtocolType="Tcp">
      <MessageReader
        AssemblyName="Ritm.dll"
        TypeName="KSoft.AddOn.RitmTCPReader"
        />
    </Receiver>
  </Receivers>
  <Senders>
    <!--Sender
      AssemblyName="MSMQSender.dll"
      TypeName="KSoft.AddOn.MSMQSender"
      QueueName="MAIN\events"
      >
    </Sender-->
  </Senders>
</Settings>